#app {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#question {
  margin-top: 20px;
  text-align: column;
  font-style: italic;
  font-size: 3em;
}

#options {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25%;
}

#nxtBtn {
  padding: 20px 40px;
  font-size: 1.5em;
}
